.container8 {
background-image: url("https://firebasestorage.googleapis.com/v0/b/giftapp-a129f.appspot.com/o/Backgrounds%2FOccasions.png?alt=media&token=51b29178-5358-4f39-a272-edd9435f600b");
height: 812px; 
width: 375px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.button_to_interests{
    height: 48px; 
    width: 310px;
    background-color: #000DAE;
    border: none;
    color: white;
    padding: 5px 5px; 
    text-align: center;
    text-decoration:none;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Poppins';
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    top : 710px;
    left : 33px;

  }

.Christmas {
  size: 40px;
  top:240px;
  left: 309px;
  }

.Birthday {
    size: 40px;
    top:300px;
    left: 309px;
  }

.Anniversary {
    size: 40px;
    top:360px;
    left: 309px;
  }

.Random {
    size: 40px;
    top:420px;
    left: 309px;
  }

.Valentines {
    size: 40px;
    top:480px;
    left: 309px;
  }

  span.MuiSwitch-thumb  {
    background-color: #000DAE;
  }
